<div class="gen-container">
    <div class="gen-section">
        Generate a random number, from 1 digit upto 16 digits. Clicking the generate button will automatically copy the number to the clipboard.
        <br/>
        <input class="digit-selector" id="digit-selector" type="number" min="1" max="16" value="4"/>
        digit number
        <button id="rng-button">generate</button>
        <span id="generated-number"></span>
    </div>
    <div class="gen-section">
        Generate a universally unique identifier (UUID). Clicking the generate button will automatically copy the UUID to the clipboard.
        <br/>        
        <button id="uuid-button">generate</button>
        <span id="generated-uuid"></span>
    </div>
</div>