<!-- navigation bar -->
<div class="navbar" id="navbar">
    <span class="navbar-option active"> 
        <i class="fas fa-home" title="Home" id="navbar-home"></i> &nbsp;&nbsp; 
        <span class="user-container"> 
        <i class="fa-solid fa-user" id="navbar-login" <% if(!loggedIn) { %> title="Login/Signup" <% } %> ></i> 
        &nbsp;
        <% if(username) { %> <span> <%= username %> </span> <% } %>        
        </span>				
    </span>
    <a class="navbar-option" href="/toolbox"> Toolbox </a>
    <a class="navbar-option" href="/games"> Games </a>
    <a class="navbar-option" href="/blogspace"> Blogspace </a>
    <a class="navbar-option" href="/about"> About </a>
    <% if(loggedIn) { %> <a class="navbar-option" href="/logout"> Logout </a> <% } %>    
    <span class="navbar-option icon" id="navbar-hamburger"> <i class="fa fa-bars"></i> </span>
</div>