<div class="roll-container">
  <div class="dice-controls">
    <div class="dice-controls-row">
      <button id="roll-all-button" class="pushable-button"><span class="button-text" style="background: hsl(148deg 100% 38%);">Roll All</span></button>  
      <button id="clear-all-button" class="pushable-button"><span class="button-text" style="background: hsl(345deg 100% 47%);">Clear All</span></button>
    </div>
    <div class="dice-controls-row">
      <span>d</span>
      <select id="d-value">
        <option value="20">20</option>
        <option value="12">12</option>
        <option value="10">10</option>
        <option value="8">8</option>
        <option value="6">6</option>
        <option value="4">4</option>
      </select>      
      <span>+/-</span>
      <input type="number" id="modifier-value" value="0" style="width: 50px;">
      <button id="add-dice-button" class="pushable-button"><span class="button-text" style="background: hsl(250deg 100% 50%);">Add</span></button>      
      <div class="popup"><span class="popuptitle">?</span><span class="popuptext">select a die, if needed include a modifier, a +ve or -ve number</span></div>
    </div>
  </div>
  <div class="dice-table" id="dice-table"></div>
  <div class="roll-results" id="roll-results"></div>
</div>