<div class="form-container">
    <form class="form" method="post" action="/signup">
        <div class="form-field">
            <div class="form-field-label">Email</div>
            <div class="form-field-input"><input type="email" name="email" id="email" required></div>
        </div>
        <div class="form-field">
            <div class="form-field-label">Username</div>
            <div class="form-field-input"><input type="text" name="username" id="username" required></div>
        </div>
        <div class="form-field">
            <div class="form-field-label">Password</div>
            <div class="form-field-input"><input type="password" name="password" id="password" required></div>
        </div>
        <input class="submit-button" type="submit" value="Signup">
        <div>Already registered? <a href="/login">Login</a></div>
        <% if (messages.error) { %>
            <div class="form-message"><%= messages.error %></div>
        <% } %>
      </form>      
</div>