<!-- information tiles -->
<div class="tile-row">			
    <div class="tile">
        <div class="tile-content">
            <div class="tile-front">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-title">HexDecChaos!</div>					
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(0)"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
            <div class="tile-back">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(0)"><i class="fa-solid fa-chevron-left"></i></div>
                    <div class="tile-info-table-cell-description">
                        Welcome to my website! <br/>
                        Explore and have fun!!
                    </div>					
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(0)"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tile">
        <div class="tile-content">
            <div class="tile-front">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-title"><span onclick="navigate_to('/toolbox')">Toolbox</span></div>					
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(1)"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
            <div class="tile-back">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(1)"><i class="fa-solid fa-chevron-left"></i></div>
                    <div class="tile-info-table-cell-description">
                        Check out a collection of interesting <br/>
                        and useful web based tools
                    </div>					
                    <div class="tile-info-table-cell-chevron" onclick="navigate_to('/toolbox')"><i class="fa-solid fa-circle-arrow-right"></i></div>
                </div>
            </div>
        </div>
    </div>			
</div>

<div class="tile-row">			
    <div class="tile">
        <div class="tile-content">
            <div class="tile-front">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-title"><span onclick="navigate_to('/games')">Games</span></div>					
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(2)"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
            <div class="tile-back">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(2)"><i class="fa-solid fa-chevron-left"></i></div>
                    <div class="tile-info-table-cell-description">
                        Play fun and cool games <br/>
                        right here on your web browser
                    </div>					
                    <div class="tile-info-table-cell-chevron" onclick="navigate_to('/games')"><i class="fa-solid fa-circle-arrow-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tile">
        <div class="tile-content">
            <div class="tile-front">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-title"><span onclick="navigate_to('/blogspace')">Blogspace</span></div>					
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(3)"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
            <div class="tile-back">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(3)"><i class="fa-solid fa-chevron-left"></i></div>
                    <div class="tile-info-table-cell-description">
                        Express your thoughts and opinions <br/>
                        or read those of others <br/>
                        over at Blogspace
                    </div>					
                    <div class="tile-info-table-cell-chevron" onclick="navigate_to('/blogspace')"><i class="fa-solid fa-circle-arrow-right"></i></div>
                </div>
            </div>
        </div>
    </div>			
</div>

<div class="tile-row">	
    <div class="tile">
        <div class="tile-content">
            <div class="tile-front">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-title"><span onclick="navigate_to('/about')">About Me</span></div>					
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(4)"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
            <div class="tile-back">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(4)"><i class="fa-solid fa-chevron-left"></i></div>
                    <div class="tile-info-table-cell-description">
                        Have any suggestions or comments? <br/>
                        Want your own website? <br/>
                        Please visit the About Me section <br/>
                        to find ways to reach out to me <br/>
                    </div>					
                    <div class="tile-info-table-cell-chevron" onclick="navigate_to('/about')"><i class="fa-solid fa-circle-arrow-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    <% if(!loggedIn) { %>
    <div class="tile">
        <div class="tile-content">
            <div class="tile-front">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-title"><span onclick="navigate_to('/login')">Signup/Login</span></div>					
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(5)"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>
            <div class="tile-back">
                <div class="tile-info-table">
                    <div class="tile-info-table-cell-chevron" onclick="toggle_flip(5)"><i class="fa-solid fa-chevron-left"></i></div>
                    <div class="tile-info-table-cell-description">
                        To save your game scores <br/>
                        or your favorite tools <br/>
                        To write your own blogposts <br/>
                        and to add reactions or comments <br/>
                    </div>					
                    <div class="tile-info-table-cell-chevron" onclick="navigate_to('/login')"><i class="fa-solid fa-circle-arrow-right"></i></div>
                </div>
            </div>
        </div>
    </div>  
    <% } %>
</div>