<div class="toolbox-container">
    <ol>
        <li><a href="/toolbox/roll">Roll Dice</a></li>
        <li><a href="/toolbox/toss">Toss a Coin</a></li>
        <li>Random Number and UUID Generators</li>
    </ol>
</div>