<div class="toolbox-container">
    <ul>
        <li><div>Playing D&D? Or doing a charisma check before asking someone out? You can <a href="/toolbox/roll">Roll Dice</a> </div></li>
        <li><div>For someone as indecisive as me and doesn't have a physical coin, <a href="/toolbox/toss">Toss this Coin</a> </div></li>
        <li><div><a href="/toolbox/gen">Generate</a> random numbers or UUIDs for PINs, passcodes or anything else you might need. Don't worry, I don't store any of these ;) promise.</div></li>
        <li><div>I'm terrible at remembering birthdays so I built a <a href="/toolbox/bday">tool</a> that will remind me. Now I just have to remember to use the tool.</div></li>
    </ul>
</div>