<div class="toss-container">
    <div class="coin" id="coin">
        <div class="coin-front" id="coin-front">H</div>
        <div class="coin-back" id="coin-back" hidden>T</div>        
    </div>
</div>

<audio id="toss-audio" hidden>
    <source type="audio/mp3" src="../audio/coin.mp3">
</audio>