<div id="instate-container" class="instate-container">
    <div id="question-container">
        <div style="border-style: solid; border-color: black; border-width: 2px; padding: 5px;">
            <img src="../images/TN.png" style="border-style: dotted; border-color: black; border-width: 2px;">
        </div>
    </div>
    <div id="answer-container">
        <input type="text" />
        <div>guess 1</div>
        <div>guess 2</div>
        <div>guess 3</div>
        <div>guess 4</div>
    </div>
</div>